@model Calculadora.DAL.Models.Cliente
@using Calculadora.DAL.Models
@{
    ViewBag.Title = "CreateCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Cadastro de Cliente</h2>
        <ol class="breadcrumb">
            <li>
                <a href="home.html">Home</a>
            </li>
            <li>
                <a>Cadastro</a>
            </li>
            <li class="active">
                <strong>Adicionar Cliente</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@using (Html.BeginForm("CreateCliente", "Clientes", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Adicionar Cliente</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            @Html.HiddenFor(m => m.PessoaID)
                            @Html.HiddenFor(m => m.EnderecoID)
                            @Html.HiddenFor(m => m.EscritorioID)
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Nome Completo</label>
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Sexo</label>
                                    @Html.DropDownListFor(m => m.Sexo, Html.GetEnumSelectList<EnumSexo>(), "Selecionar...", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Sexo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Tratamento</label>
                                    @Html.DropDownListFor(m => m.Tratamento, Html.GetEnumSelectList<EnumTratamento>(), "Selecionar...", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Tratamento, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Estado Civil</label>
                                    @Html.DropDownListFor(m => m.EstadoCivil, Html.GetEnumSelectList<EnumEstadoCivil>(), "Selecionar...", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EstadoCivil, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Profissão</label>
                                    @Html.TextBoxFor(m => m.Profissao, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Profissao, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group" id="dataFim">
                                    <label>Data de Nascimento</label>
                                    <div class="input-group date datetimepicker">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        @Html.TextBoxFor(m => m.Nascimento, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Nascimento, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Tipo de Documento</label>
                                    @Html.DropDownListFor(m => m.DocumentoIdentificacao, Html.GetEnumSelectList<EnumDocumentoIdentificacao>(), "Selecionar...", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DocumentoIdentificacao, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label># Doc. Identificação</label>
                                    @Html.TextBoxFor(m => m.NumeroDocumentoIdentificacao, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NumeroDocumentoIdentificacao, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>C.P.F.</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Cpf, new { @id = "cpf", data_inputmask = "'mask':'999.999.999-99'", @class = "form-control", @placeholder = "___.___.___-__" })
                                        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-white" data-toggle="popover" data-placement="auto top" data-content="Link para a Receita Federal."><i class="fa fa-search"></i></button>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Telefone 1</label>
                                    @Html.TextBoxFor(m => m.Telefone1, new { @class = "form-control telefone", @placeholder = "(__) ___.____-____" })
                                    @Html.ValidationMessageFor(m => m.Telefone1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Tipo</label>
                                    @Html.DropDownListFor(m => m.TipoTelefone1, Html.GetEnumSelectList<EnumTipoTelefone>(), "Selecionar...", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.TipoTelefone1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Telefone 2</label>
                                    @Html.TextBoxFor(m => m.Telefone2, new { @class = "form-control telefone", @placeholder = "(__) ___.____-____" })
                                    @Html.ValidationMessageFor(m => m.Telefone2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Tipo</label>
                                    @Html.DropDownListFor(m => m.TipoTelefone2, Html.GetEnumSelectList<EnumTipoTelefone>(), "Selecionar...", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.TipoTelefone2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Telefone 3</label>
                                    @Html.TextBoxFor(m => m.Telefone3, new { @class = "form-control telefone", @placeholder = "(__) ___.____-____" })
                                    @Html.ValidationMessageFor(m => m.Telefone3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Tipo</label>
                                    @Html.DropDownListFor(m => m.TipoTelefone3, Html.GetEnumSelectList<EnumTipoTelefone>(), "Selecionar...", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.TipoTelefone3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Home page</label>
                                    @Html.TextBoxFor(m => m.HomePage, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.HomePage, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="tabs-container">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#tab-1">Endereço de Correspondência</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-2">Endereço de Cobrança</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-3">Endereço de Faturamento</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="tab-1" class="tab-pane active">
                                            <div class="panel-body">
                                                <div class="row">
                                                    @Html.HiddenFor(m => m.Endereco)
                                                    @Html.HiddenFor(m => m.Endereco.EnderecoID)
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Localização</label>
                                                            @Html.DropDownListFor(m => m.Endereco.Local, Html.GetEnumSelectList<EnumLocal>(), "Selecionar...", htmlAttributes: new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.Endereco.Local, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>CEP</label>
                                                            <div class="input-group">
                                                                @Html.TextBoxFor(m => m.Endereco.Cep, new { @class = "form-control", @placeholder = "___.___-___", @id = "cep" })
                                                                <span class="input-group-btn">
                                                                    <button id="btnBuscarCep" type="button" class="btn btn-white" data-toggle="popover" data-placement="auto top" data-content="Buscar seu endereço."><i class="fa fa-search"></i></button>
                                                                </span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="form-group">
                                                            <label>Logradouro</label>
                                                            @Html.TextBoxFor(m => m.Endereco.NomeLogradouro, new { @class = "form-control", @id = "logradouro" })
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-1">
                                                        <div class="form-group">
                                                            <label>Número</label>
                                                            @Html.TextBoxFor(m => m.Endereco.Numero, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Complemento</label>
                                                            @Html.TextBoxFor(m => m.Endereco.Complemento, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Bairro</label>
                                                            @Html.TextBoxFor(m => m.Endereco.Bairro, new { @class = "form-control", @id = "bairro" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Cidade</label>
                                                            @Html.TextBoxFor(m => m.Endereco.Cidade, new { @class = "form-control", @id = "cidade" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-1">
                                                        <div class="form-group">
                                                            <label>Estado</label>
                                                            @Html.TextBoxFor(m => m.Endereco.Estado, new { @class = "form-control", @id = "estado" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2" hidden>
                                                        <div class="form-group">
                                                            <label>País</label>
                                                            @Html.TextBoxFor(m => m.Endereco.Pais, new { @class = "form-control", @id = "pais" })
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Pessoa para contato</label>
                                                            @Html.TextBoxFor(m => m.Endereco.Contato, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div id="tab-2" class="tab-pane">
                                            <div class="panel-body">

                                            </div>
                                        </div>
                                        <div id="tab-3" class="tab-pane">
                                            <div class="panel-body">

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="hr-line-solid"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div style="float:right">
                                        <button class="btn btn-white btn-cancelar" type="button">Cancelar</button>
                                        <button class="btn btn-primary btn-salvar" value="Create" type="submit">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib_bower/sweetalert/dist/sweetalert.css" />
        <link rel="stylesheet" href="~/lib_bower/toastr/toastr.css" />
        <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
        <link rel="stylesheet" href="~/lib_bower/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib_bower/sweetalert/dist/sweetalert.css" />
        <link rel="stylesheet" href="~/lib_bower/toastr/toastr.min.css" />
        <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
        <link rel="stylesheet" href="~/lib_bower/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
    </environment>
}
@section Scripts {
    <environment names="Development">
        <script src="~/lib/iCheck/icheck.min.js"></script>
        <script src="~/lib_bower/sweetalert/dist/sweetalert-dev.js"></script>
        <script src="~/lib_bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/lib_bower/toastr/toastr.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/iCheck/icheck.min.js"></script>
        <script src="~/lib_bower/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/lib_bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="~/lib_bower/toastr/toastr.min.js"></script>
    </environment>
    @*@Scripts.Render("~/inputmask/inputmask")*@

    <script type="text/javascript">
        $(document).ready(function () {
            //$("#cpf").inputmask("mask", { "mask": "999.999.999-99" });
            //$("#cep").inputmask("mask", { "mask": "99.999-999" });
            //$(".telefone").inputmask("mask", { "mask": "(99)99999-9999" });



            document.getElementById('NumeroDocumentoIdentificacao').disabled = true;

            $("#DocumentoIdentificacao").on('change', function () {
                console.log($("#DocumentoIdentificacao").val());
                if ($("#DocumentoIdentificacao").val() > 0) {
                    console.log('>0');
                    document.getElementById('NumeroDocumentoIdentificacao').disabled = false;
                    switch ($("#DocumentoIdentificacao").val()) {
                        case '1':
                            console.log('case 1');
                            //$("#NumeroDocumentoIdentificacao").inputmask("mask", { "mask": "99.999.999-9" });
                            break;
                        case '2':

                            break;
                        default:

                    }
                }
                else {
                    $('#NumeroDocumentoIdentificacao').val('');
                    document.getElementById('NumeroDocumentoIdentificacao').disabled = true;
                }
            });

            $("button[id='btnBuscarCep']").click(function () {
                var cep = $("input[id='cep']").val().replace(/\D/g, '');


                if (cep != "") {
                    var validacep = /^[0-9]{8}$/;
                    if (validacep.test(cep)) {

                        $.getJSON("//viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {
                            if (!("erro" in dados)) {
                                $("input[id='cep']").val(cep);
                                $("input[id='cidade']").val(dados.localidade);
                                $("input[id='logradouro']").val(dados.logradouro);
                                $("input[id='bairro']").val(dados.bairro);
                                $("input[id='estado']").val(dados.uf);
                                $("input[id='pais']").val("Brasil");
                                //$("#alertDiv").remove();
                                //$("input[id='cep']").removeClass("input-validation-error");
                            }
                            else {
                                showalertEndereco("CEP não encontrado.");
                            }
                        });
                    }
                    else {
                        showalertEndereco("CEP inválido.");
                    }
                }
                else {
                    showalertEndereco("CEP vazio.");
                }
            });
            function showalertEndereco(message) {
                //$('#alertDiv').remove();
                //$('#cep').addClass('input-validation-error form-control input-sm');
                //$('#divCep').after("<div id=alertDiv class=field-validation-error text-danger>" + message + "</div>");

            }

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.btn-cancelar').click(function () {
                swal({
                    title: "Tem certeza?",
                    text: "Cuidado, você perderá todas as modificações caso confirme este cancelamento!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sim, pode cancelar!",
                    cancelButtonText: "Não",
                    closeOnConfirm: true
                }, function () {
                    //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                });
            });

            //$('.btn-salvar').click(function () {
            //    swal({
            //        title: "Sucesso!",
            //        text: "Cadastro realizado com sucesso!",
            //        type: "success"
            //    });
            //});

            $('.datetimepicker').datepicker({
                //viewMode: "months",
                //minViewMode: "months",
                format: 'dd/mm/yyyy',
                language: 'pt-BR',
                todayHighlight: true,
                autoclose: true
            });
        });
    </script>
}






