
@model CalculoPrev.DAL.Models.IndiceCorrecao


@{
    ViewBag.Title = "Details";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>





<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details IndiceCorrecao</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Periodicidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodicidade)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.UltimoValor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimoValor)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>


    </dl>

    @Html.ActionLink("Edit", "Edit", new { id = Model.IndiceCorrecaoID }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})


                </div>
            </div>
        </div>
    </div>
 </div>
















