@using PagedList.Core.Mvc
@using PagedList.Core
@model PagedList.Core.IPagedList<Calculadora.DAL.Models.Cliente>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Clientes</h5>
                    <div class="ibox-tools">
                        <button onclick="window.location.href='@Url.Action("CreateCliente","Clientes")'" class="btn btn-xs btn-success"
                                type="button">
                            <strong><i class="fa fa-plus" style="margin-right:6px;"></i>Adicionar</strong>
                        </button>

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="ibox-filter">
                        <div class="form-group">
                            <div class="input-group">
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })

                                <span class="input-group-btn">
                                    <button type="button" id="btnSearchCliente" class="btn btn-white" onclick="filtrarClientes()"><i class="fa fa-search"></i></button>
                                </span>

                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="footable table table-stripped toggle-arrow-tiny">
                            <thead>
                                <tr>
                                    <th width="15%">@Html.ActionLink("C.P.F.", "DetailsCliente", new { sortOrder = ViewBag.NomeIndiceParm, currentFilter = ViewBag.CurrentFilter })</th>
                                    <th width="50%">Nome</th>
                                    <th width="15%">Telefone</th>
                                    <th width="20%"></th>
                                    <th data-hide="all">E-mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Telefone1)</td>
                                        <td>
                                            @*<button class="btn btn-xs btn-default  btn-white btn-sm" type="button" onclick="location.href='@Url.Action("EditCliente", "Clientes", new { id = item.PessoaID})'">
                                                    <strong><i class="fa fa-edit" style="margin-right:6px;"></i>Editar</strong>
                                                </button>
                                                <button class="btn btn-xs btn-default  btn-white btn-sm" type="button" onclick="location.href='@Url.Action("DeleteCliente", "Clientes", new { id = item.PessoaID})'">
                                                    <strong><i class="fa fa-eraser" style="margin-right:6px;"></i>Apagar</strong>
                                                </button>*@
                                            <button class="btn btn-xs btn-default  btn-white btn-sm" type="button" onclick="getSimulacoes(@item.PessoaID)">
                                                <strong><i class="fa fa-eraser" style="margin-right:6px;"></i>Selecionar</strong>
                                            </button>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <br />
                        <div id='Paging' style="text-align:center">
                            @if (Model.HasPreviousPage)
                            {
                                <a onclick="mudarPaginaAjax(1,@ViewBag.CurrentFilter)" class="btn btn-success btn-xs btn-pagedlist"><<</a>
                                <a onclick="mudarPaginaAjax(@Model.PageNumber - 1,@ViewBag.CurrentFilter)" class="btn btn-success btn-xs btn-pagedlist"><</a>
                            }
                            else
                            {
                                <a onclick="mudarPaginaAjax(1,@ViewBag.CurrentFilter)" class="btn btn-success btn-xs btn-pagedlist"><<</a>
                                <a onclick="mudarPaginaAjax(1,@ViewBag.CurrentFilter)" class="btn btn-success btn-xs btn-pagedlist"><</a>
                            }

                            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

                            @if (Model.HasNextPage)
                            {
                                <a onclick="mudarPaginaAjax(@Model.PageNumber + 1,@ViewBag.CurrentFilter)" class="btn btn-success btn-xs btn-pagedlist">></a>
                                <a onclick="mudarPaginaAjax(@Model.PageCount,@ViewBag.CurrentFilter)" class="btn btn-success btn-xs btn-pagedlist">>></a>
                            }
                            else
                            {
                                <a onclick="mudarPaginaAjax(1,@ViewBag.CurrentFilter)" class="btn btn-success btn-xs btn-pagedlist">></a>
                                <a onclick="mudarPaginaAjax(1,@ViewBag.CurrentFilter)" class="btn btn-success btn-xs btn-pagedlist">>></a>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




