@model Calculadora.Domain.Models.CalculadoraViewModel

<div class="ibox float-e-margins valoresIC">
    <div class="ibox-title">
        <h5>Tempo de Contribuição</h5>
        <div class="ibox-tools">
            <button class="btn btn-xs btn-success" type="button" data-toggle="modal" data-target="#modalTempoContribuicao">
                <strong><i class="fa fa-plus" style="margin-right:6px;"></i>Adicionar</strong>
            </button>
        </div>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="footable table table-stripped toggle-arrow-tiny">
                <thead>
                    <tr>
                        <th hidden>IdSimulacao</th>
                        <th hidden>IdTempoContribuicao</th>
                        <th>Data Admissão</th>
                        <th>Data Demissão</th>
                        <th>Atividade é insalubre, perigosa ou penosa?</th>
                        <th>Profissão</th>
                        <th>Empregador</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        @if (Model.TempoContribuicoes != null)
                        {
                            @foreach (var item in Model.TempoContribuicoes)
                            {
                                <tr>
                                    <td hidden>@Html.DisplayFor(modelItem => item.TempoContribuicaoID)</td>
                                    <td hidden>@Html.DisplayFor(modelItem => item.SimulacaoID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DataAdmissao)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DataDemissao)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AtividadeIPP)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Profissao)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Empregador)</td>
                                    <td>
                                        <button class="btn btn-xs btn-default  btn-white btn-sm" type="button" data-toggle="modal" data-target="#modalTempoContribuicao"
                                                onclick="editTempoCntribuicaoModal(
                                                @Html.DisplayFor(modelItem => item.TempoContribuicaoID), @Html.DisplayFor(modelItem => item.SimulacaoID),
                                               '@Html.DisplayFor(modelItem => item.DataAdmissao)', '@Html.DisplayFor(modelItem => item.DataDemissao)',
                                               '@item.AtividadeIPP','@Html.DisplayFor(modelItem => item.Profissao)',
                                                '@Html.DisplayFor(modelItem => item.Empregador)'
                                                )">
                                            <strong><i class="fa fa-edit" style="margin-right:6px;"></i>Editar</strong>
                                        </button>
                                        <button class="btn btn-xs btn-default  btn-white btn-sm" type="button" onclick="">
                                            <strong><i class="fa fa-eraser" style="margin-right:6px;"></i>Apagar</strong>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    }


                </tbody>
            </table>
            <br />



        </div>

    </div>
</div>
