@model Calculadora.Domain.Models.CalculadoraViewModel

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Tempo de Contribuição</h5>
        <div class="ibox-tools">
            <button class="btn btn-xs btn-success" type="button" data-toggle="modal" data-target="#modalTempoContribuicao" onclick="addTempoContribuicaoModal()">
                <strong><i class="fa fa-plus" style="margin-right:6px;"></i>Adicionar</strong>
            </button>
        </div>
    </div>
    @*<div class="ibox-content" id="ibox-content">
            <img src="~/Images/tempocontribuicao.png" />
        </div>*@
    @*<a id="btn-exportPDF" target="_blank" href="@Url.Action("DownloadPdf", "Calculadora")" class="pdf-link">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        </a>*@

    <div class="ibox-content" id="ibox-content">
        <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
            @{
                @if (Model.TempoContribuicoes != null)
                {
                    int contador = 0;
                    @foreach (var item in Model.TempoContribuicoes)
                    {
                        contador = contador + 1;
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-calendar-check"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <h2 style="text-align:left;">@Html.DisplayFor(modelItem => item.Empregador)</h2>
                                <button class="btn btn-xs btn-success timeline-button-edit" type="button" data-toggle="modal" data-target="#modalTempoContribuicao"
                                        onclick="editTempoCntribuicaoModal(
                                                @Html.DisplayFor(modelItem => item.TempoContribuicaoID), @Html.DisplayFor(modelItem => item.SimulacaoID),
                                               '@Html.DisplayFor(modelItem => item.DataAdmissao, "{0:dd/MM/yyyy}")', '@Html.DisplayFor(modelItem => item.DataDemissao, "{0:dd/MM/yyyy}")',
                                               '@item.AtividadeIPP','@Html.DisplayFor(modelItem => item.Profissao)',
                                                '@Html.DisplayFor(modelItem => item.Empregador)'
                                                )">
                                    <strong><i class="fa fa-edit"></i></strong>
                                </button>
                                <button onclick="window.location.href='@Url.Action("Create", "PessoaFisica")'" class="btn btn-xs btn-success timeline-button-delete"
                                        type="button" data-toggle="modal" data-target="#myModal">
                                    <strong><i class="fa fa-remove"></i></strong>
                                </button>
                                <div style="text-align:left">
                                    <p style="margin-bottom:0;margin-top:5px;"><strong>Início:</strong> @Html.DisplayFor(modelItem => item.DataAdmissao, "{0:dd/MM/yyyy}")</p>
                                    <p style="margin-bottom:0;margin-top:0px;"><strong>Fim:</strong> @Html.DisplayFor(modelItem => item.DataDemissao, "{0:dd/MM/yyyy}")</p>
                                    <p style="margin-bottom:10px;margin-top:0px;"> <strong>Tipo: </strong> Período Normal</p>
                                </div>
                                @if (contador % 2 == 0)
                                {
                                    <span class="vertical-date" style="text-align:right">
                                        @item.DataAdmissao.ToString("yyyy")<br />
                                        <small> @item.DataAdmissao.ToString("MMMM") </small>
                                    </span>

                                }
                                else
                                {
                                    <span class="vertical-date" style="text-align:left">
                                        @item.DataAdmissao.ToString("yyyy")<br />
                                        <small>@item.DataAdmissao.ToString("MMMM")</small>
                                    </span>

                                }

                            </div>
                        </div>
                    }
                }
            }
            @*<div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon blue-bg">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2 style="text-align:left;">CONMEDH</h2>

                        <button onclick="window.location.href='@Url.Action("Create","PessoaFisica")'" class="btn btn-xs btn-success timeline-button-edit"
                                type="button" data-toggle="modal" data-target="#myModal">
                            <strong><i class="fa fa-edit"></i></strong>
                        </button>
                        <button onclick="window.location.href='@Url.Action("Create","PessoaFisica")'" class="btn btn-xs btn-success timeline-button-delete"
                                type="button" data-toggle="modal" data-target="#myModal">
                            <strong><i class="fa fa-remove"></i></strong>
                        </button>
                        <div style="text-align:left">
                            <p style="margin-bottom:0;margin-top:5px;"><strong>Início:</strong> 01/02/1973</p>
                            <p style="margin-bottom:0;margin-top:0px;"><strong>Fim:</strong> 13/03/1978</p>
                            <p style="margin-bottom:10px;margin-top:0px;"> <strong>Tipo: </strong> Período Especial</p>
                        </div>
                        <span class="vertical-date" style="text-align:right">
                            1973 <br />
                            <small>Fevereiro</small>
                        </span>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2 style="text-align:left;">CONMEDH</h2>

                        <button onclick="window.location.href='@Url.Action("Create","PessoaFisica")'" class="btn btn-xs btn-success timeline-button-edit"
                                type="button" data-toggle="modal" data-target="#myModal">
                            <strong><i class="fa fa-edit"></i></strong>
                        </button>
                        <button onclick="window.location.href='@Url.Action("Create","PessoaFisica")'" class="btn btn-xs btn-success timeline-button-delete"
                                type="button" data-toggle="modal" data-target="#myModal">
                            <strong><i class="fa fa-remove"></i></strong>
                        </button>
                        <div style="text-align:left">
                            <p style="margin-bottom:0;margin-top:5px;"><strong>Início:</strong> 01/02/1973</p>
                            <p style="margin-bottom:0;margin-top:0px;"><strong>Fim:</strong> 13/03/1978</p>
                            <p style="margin-bottom:10px;margin-top:0px;"> <strong>Tipo: </strong> Período Especial</p>
                        </div>
                        <span class="vertical-date" style="text-align:left">
                            1973 <br />
                            <small>Fevereiro</small>
                        </span>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon blue-bg">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2 style="text-align:left;">CONMEDH</h2>

                        <button onclick="window.location.href='@Url.Action("Create","PessoaFisica")'" class="btn btn-xs btn-success timeline-button-edit"
                                type="button" data-toggle="modal" data-target="#myModal">
                            <strong><i class="fa fa-edit"></i></strong>
                        </button>
                        <button onclick="window.location.href='@Url.Action("Create","PessoaFisica")'" class="btn btn-xs btn-success timeline-button-delete"
                                type="button" data-toggle="modal" data-target="#myModal">
                            <strong><i class="fa fa-remove"></i></strong>
                        </button>
                        <div style="text-align:left">
                            <p style="margin-bottom:0;margin-top:5px;"><strong>Início:</strong> 01/02/1973</p>
                            <p style="margin-bottom:0;margin-top:0px;"><strong>Fim:</strong> 13/03/1978</p>
                            <p style="margin-bottom:10px;margin-top:0px;"> <strong>Tipo: </strong> Período Especial</p>
                        </div>
                        <span class="vertical-date" style="text-align:right">
                            1973 <br />
                            <small>Fevereiro</small>
                        </span>
                    </div>
                </div>*@
        </div>
    </div>
    @*<div class="ibox-content" id="ibox-content">
            <img src="~/Images/tempocontribuicao.png" />
        </div>*@
</div>
